<h1 class="title">Offers</h1>
<section class="flex-container">
<div class="container1">
    <img src="./assets/img2.jpeg" alt="background" class="img1">
    <div class="content">
      <h1>Heading</h1>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  
  <div class="container2">
    <img src="./assets/img3.jpeg" alt="background" class="img2">
    <div class="content">
      <h1>Heading</h1>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  
  <div class="container3" >
    <img src="./assets/img4.jpeg" alt="background" class="img3">
    <div class="content">
      <h1>Heading</h1>
      <p>Lorem ipsum..</p>
    </div>
  </div>
</section>