<footer class="footer">
    <div class="group-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="./assets/logo.jpg" alt="logo" class="logo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>Destinations</h2>
            <p>Madrid</p>
            <p>Barcelona</p>
            <p>London</p>
            <p>Paris</p>
            <p>Rome</p>
        </div>
        <div class="box">
            <h2>Legal information</h2>
            <p>Privacy policy</p>
            <p>Cookie policies</p>
            <p>Data treatment</p>
        </div>
        <div class="box">
            <h2>Book your flight</h2>
            <p>Search flights</p>
            <p>Price calendar</p>
            <p>Destination map</p>
            <p>Flight times</p>
        </div>
        <div class="box">
            <h2>Follow us</h2>
            <div class="social">
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="group-2">
        <small>website</small>
        <hr class="separator">
        <small>site map</small>
        <hr class="separator">
        <small>environment</small>
        <hr class="separator">
        <small>contactairlines.com</small>
      </div>
      
      
</footer>
