
<div class="banner">
  <div class="circle">
      <img src="./assets/img5.jpeg" alt="Imagen">
  </div>
  <div class="content">
      <h1><b>Our destinations</b></h1>
      <h1 style="color: aqua;">Discovered the world  </h1>
      <p>Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for you to explore the world together!</p>
  </div>
</div>

<!--
  <div class="banner">
    <div class="banner-image">
      <img src="./assets/img5.jpeg" alt="background" class="image">
    </div>
    <div class="banner-content">
      <h1 id="t1"><b>Our destinations</b></h1>
      <h1 id="t2"><b>Discover the world</b></h1>
      <p>Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for you to explore the world together!</p>
    </div>
  </div>
  -->